frameworks/libavutil.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libswresample.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libswscale.framework filter=lfs diff=lfs merge=lfs -text
frameworks/mobileffmpeg.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libavcodec.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libavdevice.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libavfilter.framework filter=lfs diff=lfs merge=lfs -text
frameworks/libavformat.framework filter=lfs diff=lfs merge=lfs -text
